body{
min-height: 100vh;
display: flex;
flex-direction: column;
}

main{
flex-grow: 1;
}

footer{
  min-height: 10vh;
}

header{
  height: 10vh;
}

.navim{
  max-width: 100px;
  max-height: 50px;
}

.itemsh{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a{
  color: whitesmoke;
}