body{
min-height: 100vh;
display: flex;
flex-direction: column;
}

main{
flex-grow: 1;
}

footer{
  min-height: 10vh;
}

header{
  height: 10vh;
}

.navim{
  max-width: 100px;
  max-height: 50px;
}

.itemsh{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a{
  color: whitesmoke;
}

a:hover{
  color: burlywood;
}

hr{
  border-color: var(--dark);
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}

.product-bg{
  background: url(hero.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.fake-nav{
  display: flex;
  align-items: center;
}

.test-1{
  justify-content: space-around;
}